.topics-container {
  padding-top: 4.5%;
  display: flex;
  justify-content: space-evenly;
  height: 112px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.589);

  .topic-content-large {
    width: 200px;

    .topic-large {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

        img {
            padding-left: 20px;
        }

    }
  }

  .topic-content-small {
      width: 94px;

      h5 {
          padding-left: 13px;
      }
  }

  .topic {
    width: 94px;
    padding: 10px;

    img {
      width: 64px;
      height: 64px;
    }

    h5 {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
