$primary:#2874f0;
$plus-yellow:#ffe500;
$white:#fff;
$white-smoke:#f0f0f0;
$base-bg:#f1f3f6;
$black : #000;
$black-ovelay: rgba(0, 0, 0, 0.5);
$box-shadow: rgba(0, 0, 0, 0.445);
$border-color : rgba(0, 0, 0, 0.205);
$price-green : #388e3c;
$footer-color:#172337;
$footer-title:#878787;
$phone-blue:#2455f4;
$white-dull: rgba(255, 255, 255, 0.274);
$mild-white:#dbdbdb;
$lite-white:#878787;
$orange:#fb641b;