.carousel-container {
  width: 6730px;
  height: 280px;
  display: flex;
  position: relative;

  .slides {
    width: 1330px;
    height: 100%;
    animation: carousel 15s infinite;
    animation-delay: 2s;
    transition: transform 0.2s ease-out;
    cursor: pointer;
  }

  .controls {
    top: 30%;
    width: 47px;
    height: 104px;
    padding: 5px;
    background-color: $white;
    z-index: 5;
    position: absolute;
    box-shadow: 0 0px 5px $border-color;
    cursor: pointer;
  }

  .prev {
    left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    svg {
        width: 14px;
        height: 24px;
        padding-top: 40px;
        padding-left: 15px;
    }
  }

  .next {
    left: 1280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    svg {
        width: 14px;
        height: 24px;
        transform: rotate(180deg);
        padding-bottom: 40px;
        padding-right: 15px;
    }
  }

}

@keyframes carousel {
  0% {
    transform: translate(0);
    animation-delay: 3s;
  }
  10% {
    transform: translateX(-1345px);
    animation-delay: 3s;
  }
  20% {
    transform: translateX(-1345px);
    animation-delay: 3s;
  }
  30% {
    transform: translateX(-2690px);
    animation-delay: 3s;
  }
  40% {
    transform: translateX(-2690px);
    animation-delay: 3s;
  }
  50% {
    transform: translateX(-4035px);
    animation-delay: 3s;
  }
  60% {
    transform: translateX(-4035px);
    animation-delay: 3s;
  }
  70% {
    transform: translateX(-5380px);
    animation-delay: 3s;
  }
  80% {
    transform: translateX(-5380px);
    animation-delay: 3s;
  }
  90% {
    transform: translateX(0);
    animation-delay: 3s;
  }
  100% {
    transform: translateX(0);
    animation-delay: 3s;
  }
}
